# Variables de entorno / secretos
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Entornos virtuales
venv/
.venv/
env/
.env.bak

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Node / frontend
node_modules/
frontend/dist/
.env.local

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
